/* Add your styles here. Take it piece by piece! */


body{
  color: black;
  margin:10px;
  /*overflow-x: hidden;*/

}
a{
  text-decoration: none;
  color:black;
}

h1 {
  font-family: "Moderat", sans-serif;
}
.rubric{
  color:orange
}
.masthead-categories-links{
  display:flex;
  justify-content: flex-end;
  flex-direction: row;
  list-style: none;
  gap:20px;
  margin:20px;
margin-top: 5px;
  margin-left: 300px;
  font-family: SFMono-Regular,"Roboto Mono","Lucida Console",Monaco,Courier,monospace;
  margin-right: 0px;
  position: relative;
}
.masthead-categories-links a:hover{
  color:orange;
}
.masthead-branding-logo{
  position:relative;
  font-size:18px
  
  
}
.masthead-branding-tagline{
  font-size:8px;
  position: relative;
  margin-top:40px;
  left:35px;
  font-size:25px;

  
}

#line1 {
 width: calc(80% - 3px); /*Adjust this value to control line length */
 height: 0.3px;
  background-color: antiquewhite;
  left: 100%;
  transform: translateX(35%);
  margin-top: 3px;
  

}
#line2{
  width: calc(80% - 3px); /*Adjust this value to control line length */
 height: 0.3px;
  background-color: antiquewhite;
  left: 100%;
  transform: translateX(35%);
  top: 15%; 
 
  margin: 10px;
}
#big-story.bs {
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse; /* Reverse the flex direction */
}
#big-story .bs-story {
  flex: 1;
  padding-left: 20px; /* Adjust padding to create spacing between text and image */
}
#big-story .bs-img {

}
.big-story > article:first-of-type:hover .bs-hed,
.big-story > article:first-of-type:hover .bs-dek,
.big-story > article:first-of-type:hover .author,
.big-story > article:first-of-type:hover .byline {
  color: orange;
  text-decoration: none;
}
.bs-rubric:first-of-type{
  color: orange;
  font-size: 25px;
}
.bs-hed:first-of-type{
  font-size: 38px;
  font-family: sans-serif;
}
.bs-dek:first-of-type{
  font-size: 20px;
}
#line4{
  top: 100%; /* Position it at the bottom of #big-story .bs */
  margin-top: 20px; /* Adjust the margin as needed */
  background-color: orange; /* Change the color */
}

#big-story-related {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
  border-bottom:  1px solid black;
  border-top: 1px solid black;
}

.rs-cont,
.rs-lab-cont {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 10px;
  align-content: center;
  
}
/*#big-story-related::before,
.rs-cont:not(:first-child)::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: black;
  top: 50%; /* Position the line halfway vertically 
  transform: translateY(-50%); /* Center the line vertically 
  z-index: -1; /* Place the lines behind the content 
}
i think we can modify this code to add those lines on the page*/

.rs-cont:hover *{
  color: orange;
}










/* These styles are for the disclaimer -- leave them alone */

.disclaimer {
  margin: 1em;
  padding: 4px;
  border: 1px solid hotpink;
}

